
.createAccount{
align-items :center;
font-family:sans-serif;
font-size :30px;
/* height :124.8px; */
justify-content :center;
/* line-height :22.4px; */
padding-bottom: 36px;
padding-top :36px;
font-weight: 900;
transform: skew(-12deg);
}

.tab{
    display:flex;
    margin:0;
    height: 140px;
    /* place-content: space-between; */
   
}
.data{
     text-align: left; 
     margin-right: 50px;
}

.data label{
    font-size: 14px;
    font-family: bold;
    font-weight: 700;
    font-family: sans-serif;
}
.inputfield{
    margin:0;
  
    border:2px solid  rgb(232, 232, 232);
    padding: 16px 20px 16px 60px;
    font-weight: 400;
    width: 420px;
    border-radius: 5px;
    background-color:  #f5f7fa;
}


.buttonFlex{
    display: flex;
}

.checkbox{
    color:#fd5068;
    border-color: #494949;
    background-color: white;
    margin-right: 10px;


}

.birthDay{
    font-family: sans-serif;
    margin:0;
    border:2px solid  rgb(232, 232, 232);
    padding: 14px 8px;
    width: 85px;
    height: 24;
    font-weight: 400;
    border-radius: 5px;
    margin-right: 10px;
    background-color:  #f5f7fa;
    margin-bottom: 5px; 
    text-align: center;
}



input[type=file] {
    cursor: pointer;
    width: 420px;
    height: 50px;
    background-color:  #f5f7fa;
    overflow: hidden;
  }
  
  input[type=file]:before { 
    width: 420px;
    height: 50px;
    font-size: 16px;
    line-height: 40px;
    content: 'Upload from computer';
    display: inline-block;
    background: #f5f7fa;
    border:2px solid  rgb(232, 232, 232);
    border-radius: 5px;
    padding: 0px 60px;
    color: rgb(190, 190, 190);
    text-align: left;
  }
  
  .optional{
      display: flex;
  }
.optional div{
    padding: 10px 50px 10px 70px;
    align-items: center;
    margin-bottom: 50px;
}

  .optional div:nth-child(1){
        flex-grow: 1;     
  }
  .optional div:nth-child(3){
    flex-grow: 1;     

}

.optional div:nth-child(2){
    padding: 0px;
    margin: 0px;
    line-height: 15px;

}
.optionalHeader{
font-family:sans-serif;
font-size :20px;
font-weight: 900;
transform: skew(-12deg);
}
.buttonPas_Sex button{
    background-color:  #f5f7fa;
    color: rgb(190, 190, 190);
    border:2px solid  rgb(232, 232, 232);
    outline: none;
    border-radius: 4px;
}

.buttonPas_Sex :hover{
    border:2px solid  #000;
    color: black;
    outline: black;
}

.continue{
    text-align: center;
    padding: 5px 20px;
}
.continue button{
    padding: 10px 10px;
    border-radius: 100px;
    width: 150px;
    outline:none;
    color:white;
    border:0px;
    font-weight:700;
    background: linear-gradient(262deg, #ff7854, #fd267d);
    background-image: linear-gradient(262deg, rgb(255, 120, 84), rgb(253, 38, 125));
}


.continue button:hover {
background: linear-gradient(262deg, #fd267d,#ff7854);
background-image: linear-gradient(262deg,  rgb(253, 38, 125)rgb(255, 120, 84));
}